$bg-app-white: #FFF;
$text-blue-on-white: #7070FF;

$bg-app-black: #060607; //da utilizzare anche nel testo delle sezioni sfondo biamco
$text-white-on-black: #F2F5FF;
$text-red-on-black: #F03F52;

$bg-blue: #4154FF;
$bg-red: #FF0000;
$bg-altert: #FFF941;

$gradient-blue: #0319EA;
$gradient-red: #D3000E;
