@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto Condensed';
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

figure{
    margin-bottom: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.button{
    color: $text-white;
    cursor: pointer;
    border-radius: 999px;
    border: solid currentColor 0px;
    width: fit-content;
    transition: all ease-in-out 200ms;

    &:hover{
        background-color:  $bg-red-hover;

    }
}

// img{
//     width: 100%
// }

.btn-padding-small{
    padding: 10px 23px;
}
.btn-padding-big{
    padding: 15px 28px;
}

.custom-radius{
    border-radius: 3px 3px 30px 3px;
}


.bg-red{
    background-color: $bg-red;
}
.bg-blue{
    background-color: $bg-blue;
}

.icon_play{
    padding: 40px;
    background-color: $text-white;
    color: $text-blue;
    border-radius: 50px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &:hover {
        color: $text-red
    }
}

.col{
    padding: 0;
}

p{
    margin-bottom: 0;
}

.color_white{
    color: $text-white
}